# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs (important for your project)
*.log
*.jsonl

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temp files
*.tmp
